body {
    font-family: Helvetica, Arial, san-serif;
    font-size: 13px;
    color: #000;
    background: #fff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

div {
    margin: 0;
}

.element-container {
    margin: 10px 0;
}

.element-container h3 {
    margin: 0 0 10px 0;
    background: #eee;
    padding: 5px;
}

.element {
    padding: 10px;
    border: solid 1px #eee;
}

.element h2 {
    margin: 0 0 16px 0;
    font-size: 16px;
}

.element p {
    margin: 16px 0;
    font-size: 12px;
}

.element .output {
    font-size: 10px;
}
