body {
    margin: 0;
    font: -apple-system-body;
    background: #eee;
}

h3 {
    font: -apple-system-headline;
    margin: 0 0 0.3em 0;
}

p {
    margin: 0.3em 0;
}

iframe {
    position: absolute;
    top: -1000px;
    left: -1000px;
}
